html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background-color: #fefefe;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }



main{
    margin: 16px auto;
    max-width: 960px;
}

h1 {
    color: darkgreen;
}

h2 {
    color: #1460AA;
}

.pomaranczowy {
    background-color: #f2ad22;
}

.czerwony{
    color: red;
}

p {
    padding: 16px;
    background-color:aqua !important; /* important kasuje wlasciwości klasy czerwony przypisanej do <p> w htmlu i nadpisuje kolor aqua*/
    line-height: 1.5;
}

#szkolenie{
    background-color: yellowgreen;
}

.my-article{
    color: hotpink;
}

.my-article p{
    background: #1460AA;
    color: #fff;
}

.red-header{
    color: red;
}

.green-header{
    color: green;
}

.blue-header{
    color: blue;
}

.yellow-header{
    color: yellow;
}

.brown-header{
    color: brown;
}

.orange-header{
    color: orange;
}

.purple-header{
    color: purple;
}

.header{
    top: 0;
    position: sticky;
}



.navigation
{
    width: 100%;
    padding: 16px;
    background: #1460AA;
}

.navigation__link {
    color: white;
    
}


a.navigation__link:hover{
    color:#f2ad22;
}

.navigation li{
    display: inline-block;
}

.section{
    padding: 16px;
    width: 100%;
    background: #dcdcdc;
    margin-bottom: 16px;
}

.section__image{
    display: block;
    max-width: 100%;
}

.section__header{
    max-width: 60%;
    color:cadetblue;
}

.section__header--special{
    max-width: 60%;
    color: tomato;
}

.article{
    background-color: purple;
}

.my-article__header{
    max-width: 60%;
    color:cadetblue;
    background-color: antiquewhite;
}

.page-header__heading{
font-size: 32px;
letter-spacing: -0.2px;
}

.page-header__heading--js{
    color:darkblue;
    align-items: baseline;
}

.footer{
    width: 100%;
    
}

.footer__content{
    width: 100%;
    padding: 16px;
}

.footer__top--link{
    position: fixed;
    bottom: 16px;
    right: 16px;
    color: white;
    padding: 8px 12px;
    background-color: #f2ad22;
    border-radius: 16px;
    display: block;
   

}

.article__paragraph--js{
    font-size: 32px;
    font-weight: 700;
}

.special{
    color: hotpink;
    font-weight: 900;
}

.my-article__list{
    list-style-type: circle;
}

